<h4>Hi, <%= session[:player_name] %> </h4>

<% if @play_again %>
  <p>
    <strong>Play again?</strong>
    <a href="/bet" class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn"> No</a>
  </p>
<% end %>


Your cards are:
<ul>
  <% session[:player_card].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

Dealer cards are:
<ul>
   <% session[:dealer_card].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>
<%= session[:player_name] %> total is <%= calculate_total(session[:player_card]) %>
<br/>
Dealer total is <%= calculate_total(session[:dealer_card]) %>
<% if @dealer_hit %>
    <p>
      <h5>Dealer has <%= calculate_total(session[:dealer_card])%> and will hit.</h5>
      <form action='/dealer/hit' method='post'>
          <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'>
        </form>
    </p>
  <% end %>


<% if @hit_or_stay  %>
<form action="/player/hit" method="post">
  <input type="submit" class="btn" value="Hit">
</form>
<form action="/player/stay" method="post">
  <input type="submit" class="btn" value="Stay">
</form>
<% end %>